<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="StructVault"
           Manufacturer="StructVault"
           Version="$(var.ProductVersion)"
           UpgradeCode="5F8D14D0-1288-4A69-8A54-9B0872A20ED6"
           Scope="perMachine">
    <SummaryInformation Description="StructVault setup" Manufacturer="StructVault" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of StructVault is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="StructVaultIcon" SourceFile="..\..\src\StructVault.Desktop\Assets\logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="StructVaultIcon" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Feature Id="MainFeature" Title="StructVault" Level="1">
      <ComponentGroupRef Id="PublishedApplicationFiles" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartMenuShortcuts" />
      <ComponentRef Id="QpsFileAssociation" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="StructVault" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="StructVault" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="PublishedApplicationFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)**\*" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="56C0AE67-94DE-4E48-8B79-0E3A215C3CE5">
      <Shortcut Id="StructVaultDesktopShortcut"
                Directory="DesktopFolder"
                Name="StructVault"
                Description="Open StructVault"
                Target="[INSTALLFOLDER]StructVault.Desktop.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon="StructVaultIcon" />
      <RegistryValue Root="HKCU" Key="Software\StructVault" Name="DesktopShortcut" Value="1" Type="integer" KeyPath="yes" />
    </Component>
  </Fragment>

  <Fragment>
    <Component Id="StartMenuShortcuts" Directory="ApplicationProgramsFolder" Guid="B43EA2F4-A2CD-4B7F-B85A-69E0726E714A">
      <Shortcut Id="StructVaultStartMenuShortcut"
                Name="StructVault"
                Description="Open StructVault"
                Target="[INSTALLFOLDER]StructVault.Desktop.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon="StructVaultIcon" />
      <Shortcut Id="StructVaultUninstallShortcut"
                Name="Uninstall StructVault"
                Description="Uninstall StructVault"
                Target="[System64Folder]msiexec.exe"
                Arguments="/x [ProductCode]" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\StructVault" Name="StartMenuShortcuts" Value="1" Type="integer" KeyPath="yes" />
    </Component>
  </Fragment>

  <Fragment>
    <Component Id="QpsFileAssociation" Directory="INSTALLFOLDER" Guid="6BB2A323-70BE-4712-8F98-A7712250765D">
      <RegistryValue Root="HKCR" Key=".qps" Value="StructVault.qps" Type="string" KeyPath="yes" />
      <RegistryValue Root="HKCR" Key=".qps" Name="Content Type" Value="application/x-structvault-qps" Type="string" />
      <RegistryValue Root="HKCR" Key="StructVault.qps" Value="StructVault QPS Vault" Type="string" />
      <RegistryValue Root="HKCR" Key="StructVault.qps\DefaultIcon" Value="[INSTALLFOLDER]StructVault.Desktop.exe,0" Type="string" />
      <RegistryValue Root="HKCR" Key="StructVault.qps\shell\open\command" Value="&quot;[INSTALLFOLDER]StructVault.Desktop.exe&quot; &quot;%1&quot;" Type="string" />
    </Component>
  </Fragment>
</Wix>
